/scripts export-ignore
/Tests export-ignore
/docker export-ignore
/docker-compose.yml export-ignore
/php-cs-fixer.php export-ignore
/phpstan.neon export-ignore
/phpunit.xml export-ignore
/.github export-ignore